@import url(./fonts.css);
@import url('./partials/variables.css');
@import url('./partials/_global.css');


/* navigation
 */

 .header_area .main-menu .navbar .navbar-brand {
     padding: 0 2rem 0 5rem !important;
 }

 .header_area .main-menu .navbar{
     padding: 1rem 20rem !important;
 }
.header_area .main-menu .nav-item .nav-link{
    font:normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color:var(--title-color);
}
.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* banner area  */

.site-main .site-banner {
 background: url() no-repeat ;
}
.site-main .site-banner .site-title h3{
    padding-top:15%;
    font-weight:500;
}
.site-main .site-banner .site-title h3::after{
    content:"";
    height:2px;
    width:15    vw;
    background: black;
    display:inline-block;
    margin-left:5%;
    transform: translateY(-10px);
}
.site-main .site-banner .site-title h1{
    font-size:3rem;
}
.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}
.site-main .site-banner .banner-image img{
    padding:3rem 0;
    width:90rem;    
}


/* about me  */
.site-main .about-area .about-image {
    padding-top: 8rem;
}

.site-main .about-area{
    padding: 6rem 5rem;
}
.site-main .about-area .about-title h2>span{
    display: block;
    font:normal bold 35px/60px var(--roboto);
    letter-spacing: 15px;
}
.site-main .about-area .about-title .paragraph>p{
    padding: .4rem 0;
}

/* servoces */

.site-main .services-area{
    padding: 5rem 2rem;
}
.site-main .services-area .services-title{
    padding:0 14rem;
}
.site-main .services-area .services-title h1{
    font-size:35px;
}

.site-main>.services-area .services{
    background: rgba(248, 252,253, 0.973);
    padding:1rem 0;
    width:16rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
}
.site-main>.services-area .services:hover{
    box-shadow: var(--box-shadow);
}
.fa-search,.fa-android,.fa-ghost,.fa-html5 {
    color: #854fee;
}